[general]
logfolder = log
management_interval = 30

broker = default_broker

site_adapters = openstack_site
int_adapters = htcondor_int
req_adapters = htcondor_req

[default_broker]
type 			= Broker.StupidBroker
shutdown_delay	= 0
max_instances 	= 20

[openstack_site]
type = OpenStackSiteAdapter
site_name = OpenStack
site_description = OpenStack cloud
site_logger = OS_Site
machines = {"vm-default":"vm-default"}
openstack_keystone_server = to set
openstack_user = to set
openstack_password = to set
openstack_tenant = to set
machine_type = {"vm-default":{"cores":4,"memory":8000,"walltime":"1:00:00:00"}}
max_machines = 60
max_machines_per_cycle = 5
ignore_time = True
max_usage_daytime = 0.5
daytime = 08:00
nighttime = 20:00

[htcondor_int]
type = HTCondorIntegrationAdapter
int_logger = HTCInt
condor_requirement = to set
condor_user = to set
condor_key = to set
condor_server = to set
condor_wait_pd = 1
condor_wait_working = 1
condor_deadline = 30

[htcondor_req]
type = HTCondorRequirementAdapter
condor_requirement = to set
machines = {"vm-default":{"cores":4,"memory":8000,"walltime":"1:00:00:00"}}
condor_user = to set
condor_key = to set
condor_server = to set
