[general]
logfolder           = log
management_interval = 30

broker              = default_broker

site_adapters       = freiburg_cloud
int_adapters        = htcondor_int_freiburg
req_adapters        = htcondor_req_freiburg

[default_broker]
type 			    = Broker.StupidBroker
shutdown_delay	    = 0  ; setting is being ignored
max_instances 	    = 20  ; setting is being ignored

[freiburg_cloud]
type                        = FreiburgSiteAdapter
logger_name                 = FrSite
machines                    = {"vm-default":{"cores":4,"memory":"8gb","walltime":"2:00:00:00"}}
site_name                   = freiburg_cloud
site_description            = Freiburg OpenStack Cloud
freiburg_user               = to_set
freiburg_user_group         = to set (optional)
freiburg_key                = to_set
freiburg_server             = to_set
ignore_draining_machines    = False
drain_working_machines      = False
max_machines_per_cycle      = 200
max_machines                = 200

[htcondor_int_freiburg]
type                = HTCondorIntegrationAdapter
logger_name         = HTCIntFr
site_name           = freiburg_cloud
condor_requirement  = to set
condor_user         = to set
condor_key          = to set
condor_server       = to set
# In our image, machines idle some time before shutting down themselves.
condor_wait_pd      = 9
condor_wait_working = 1
condor_deadline     = 6

[htcondor_req_freiburg]
type                = HTCondorRequirementAdapter
condor_requirement  = to_set
machines            = {"vm-default":{"cores":4,"memory":"8gb","walltime":"2:00:00:00"}}
condor_user         = to_set
condor_key          = to_set
condor_server       = to_set
