[general]
logfolder = .
broker = default_broker

# how often the batch q is polled and new machines are started in seconds
management_interval = 30

site_adapters = ssc_one_cloud
int_adapters = grid_engine_int
req_adapters = grid_engine_req

# only this broker is availbale
[default_broker]
type 			= Broker.StupidBroker

[ssc_one_cloud]
type = OneSiteAdapter
# dictionary in json format
machines = {"one-default":"cernVM.template"}
site_name = SSC One Cloud
site_description = Steinbuch Centre for Computing OpenNebula Cloud
oneServerProxy = "toset"
oneUser = "toset"
onePass = "toset"
oneUID = "toset"

[grid_engine_int]
type = GridEngineIntegrationAdapter
ge_ip = "<ip>"
ge_host = "ubuntu"
ge_key = "<key>"

[grid_engine_req]
type = GridEngineRequirementAdapter
queuename = "cloud.q"
