[general]
logfolder           = log
management_interval = 30

broker              = default_broker

site_adapters       = freiburg_cloud
int_adapters        = htcondor_int_freiburg
req_adapters        = htcondor_req_freiburg

[default_broker]
type 			    = Broker.StupidBroker
shutdown_delay	    = 0
max_instances 	    = 2000

[freiburg_cloud]
type                        = FreiburgSiteAdapter
logger_name                 = FrSite
machines                    = {"vm-default":{"cores":4,"memory":"8gb","walltime":"2:00:00:00"}}
site_name                   = freiburg_cloud
site_description            = Freiburg OpenStack Cloud
freiburg_user               = to_set
freiburg_user_group         = to set (optional)
# Private key file which is used to log in to Nemo login node
freiburg_key                = ~/.ssh/id_rsa
freiburg_server             = login.nemo.uni-freiburg.de
# Currently this is only implemented for HTCondor. Use "True" in the meantime.
ignore_draining_machines    = True
drain_working_machines      = False
max_machines_per_cycle      = 10
max_machines                = 200

[htcondor_int_freiburg]
type                = HTCondorIntegrationAdapter
logger_name         = HTCIntFr
site_name           = freiburg_cloud
# Optional filter on HTCondor's machine overview [condor_status -constraint ...]. True will return all machines.
condor_constraint   = True
# If HTCondor is installed on the machine running ROCED, keep localhost
# Otherwise use explicit Hostname/IP and supply username + SSH key
condor_server       = localhost
condor_user         = to set
condor_key          = to set
# Wait in status pending disintegration before shutting down
condor_wait_pd      = 8
# Wait in status working before moving to pending disintegration (when idle)
condor_wait_working = 2
condor_deadline     = 6

[htcondor_req_freiburg]
type                = HTCondorRequirementAdapter
# Optional filter on jobs [HTCondor's condor_q -constraint ...]. True will return all jobs.
condor_constraint   = True
# Optional filtering on HTCondor's jobs' TARGET.Requirements via grep -i
# Remove completely if you don't want to filter on requirements
condor_requirement  = to_set
machines            = {"vm-default":{"cores":4,"memory":"8gb","walltime":"2:00:00:00"}}
# If HTCondor is installed on the machine running ROCED, keep localhost
# Otherwise use explicit Hostname/IP and supply username + SSH key
condor_server       = localhost
condor_user         = to_set
condor_key          = to_set
