[general]
#logfolder = .
management_interval = 2

broker = default_broker

site_adapters = fake_site1 fake_site2
int_adapters = fake_int1 fake_int2
req_adapters = fake_req1 fake_req2

[default_broker]
type 			= Broker.StupidBroker
shutdown_delay	= 0
max_instances 	= 20

[fake_site1]
type = FakeSiteAdapter
machines = {"euca-default":"euca-default"}
site_name = fake_site1
site_description = my test description

[fake_site2]
type = FakeSiteAdapter
machines = {"euca-default":"euca-default"}
site_name = fake_site2
site_description = my test description 2

[fake_int1]
type = FakeIntegrationAdapter

[fake_int2]
type = FakeIntegrationAdapter

[fake_req1]
type = FakeRequirementAdapter

[fake_req2]
type = FakeRequirementAdapter
