[general]
logfolder = log
management_interval = 30

broker = default_broker

site_adapters = freiburg_cloud
# TODO: Use integration adapter
int_adapters = None ;htcondor_int_freiburg
req_adapters = htcondor_req

[default_broker]
type 			= Broker.StupidBroker
shutdown_delay	= 0  ; setting is being ignored
max_instances 	= 20  ; setting is being ignored

[freiburg_cloud]
type = FreiburgSiteAdapter
machines = {"vm-default":{"cores":4,"memory":"8gb","walltime":"2:00:00:00"}}
site_name = freiburg_cloud
site_description = Freiburg OpenStack Cloud
freiburg_user = to_set
freiburg_key = to_set
freiburg_server = to_set
ignore_draining_machines = False
drain_working_machines = False
max_machines_per_cycle = 50
max_machines = 170
condor_user = to_set
condor_key = to_set
condor_server = to_set

[htcondor_int_freiburg]
type = FakeIntegrationAdapter

[htcondor_req]
type = HTCondorRequirementAdapter
condor_requirement = to_set
machines = {"vm-default":{"cores":4,"memory":"8gb","walltime":"2:00:00:00"}}
condor_user = to_set
condor_key = to_set
condor_server = to_set
